#main-panel {
    display: grid;
    grid-template-columns: 1fr 300px;
    color: white;
    background-color: black;
}

#mid {
    display: grid;
    grid-template-rows: 150px 1fr;
    color: white;

}

#story {
    margin-left: 300px;
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-items: center;
    margin-top: 50px;
}

#story-icon {
    color: white;
    margin-left: 15px;
    margin-top: 10px;
    font-size: 15px;
    text-align: center;



}

#img {
    width: 60px;
    height: 60px;
    border-radius: 60%;
    border: 2px solid red;

}

#post {
    height: 50%;
    border-bottom: 1px solid gray;
}


#about-posts {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 60%;
    margin-left: 350px;
    justify-items: center;
    margin-top: 50px;


}

#post-heading {
    justify-content: center;
}


#image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 5px;
}

#headding {
    font-size: 14px;
    margin-left: 10px;
    text-align: center;
}




#image2 {
    width: 96%;
    height: 90%;
    margin-left: 15px;
    margin-top: 10px;

}

#line-dot {
    margin-left: 25.5em;

}

#icons {
    margin-left: 10px;
    margin-bottom: 10px;
}

#heart {
    width: 30px;
    height: 30px;
}

#mssg {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

#book-mark {
    width: 35px;
    height: 25px;
    margin-left: 20em;
}

#likes {
    font-size: 15px;
    margin-left: 10px;
}

#captions {
    font-size: 17px;
    margin-left: 10px;
}

#mor {
    font-size: 15px;
    margin-left: 10px;
    margin-top: 5px;
}

#view {
    font-size: 15px;
    margin-left: 10px;
    color: gray;
}

#comment {
    font-size: 15px;
    color: gray;
    margin-left: 10px;
}