#side-bar {
    width: 250px;
    height: 100vh;
    background-color: black;
    border-right: 0.5px solid gray;
    position: fixed;
}

#header {
    font-family: 'Satisfy', cursive;
    width: 103px;
    font-size: 30px;
    color: white;
    height: 12%;
    margin-left: 20px;
    margin-top: 40px;
}

#side-menu {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 17px;
    height: 60%;
    gap: 25px;
    margin-left: 20PX;
    cursor: pointer;
    text-align: start;
    justify-content: baseline;
}

#side-menu :hover {
    background-color: rgb(255, 255, 255, 0.2);
}

#footer {
    font-size: 18px;
    color: white;
    margin-left: 20px;
    display: grid;
    grid-template-columns: 1fr 200px;
    margin-top: 20px;
    align-items: center;
    cursor: pointer;
    margin-top: 80px;
}

#home {
    align-self: center;
    margin-right: 15px;
    width: 30px;
    height: 30px;


}

#hom {
    display: grid;
    grid-template-columns: 1fr 200px;
    border-radius: .30rem;
}

#search {
    display: grid;
    grid-template-columns: 1fr 200px;
    border-radius: .30rem;

}

#srch {
    margin-right: 15px;
    width: 25px;
    height: 25px;
}

#explore {
    display: grid;
    grid-template-columns: 1fr 200px;
    border-radius: .30rem;


}

#explr {
    align-self: center;
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

#msg {
    display: grid;
    grid-template-columns: 1fr 200px;
    border-radius: .30rem;
}

#msgs {
    align-self: center;
    width: 25px;
    height: 25px;
    margin-right: 15px;
}



#notifi {
    align-self: center;
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

#create,
#noti,
#profile,
#reels {
    display: grid;
    grid-template-columns: 1fr 200px;
    height: 80px;
    border-radius: .30rem;
}

#crt {
    align-self: center;
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

#more {
    align-self: center;
    width: 27px;
    height: 27px;
    margin-right: 20px;
}



#prfl {
    align-self: center;
    width: 25px;
    height: 25px;
    margin-right: 15px;
}



#reel {
    align-self: center;
    width: 25px;
    height: 25px;
    margin-right: 15px;
}