#side-bar {
    height: 100vh;
    background-color: #000;
    border-right: 0.5px solid gray;
    position: fixed;
}

#header {
    font-family: 'Satisfy', cursive;
    width: 103px;
    font-size: 30px;
    color: white;
    height: 12%;
    margin-left: 20px;
    margin-top: 40px;
}

#side-menu {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 20px;
    height: 60%;
    gap: 25px;
    margin-left: 20PX;
    cursor: pointer;
}

#side-menu :hover {
    background-color: rgb(255, 255, 255, 0.2);
}

#footer {
    font-size: 20px;
    color: white;
    margin-left: 20px;
    display: grid;
    grid-template-columns: 1fr 200px;
    margin-top: 20px;
    align-items: center;
    cursor: pointer;
    margin-top: 80px;
}

#home {
    align-self: center;
    margin-right: 10px;
}

#hom {
    display: grid;
    grid-template-columns: 1fr 200px;
    height: 80px;

    border-radius: .30rem;


}

#search {
    display: grid;
    grid-template-columns: 1fr 200px;
    height: 80px;

    border-radius: .30rem;

}

#srch {
    align-self: center;
}

#explore {
    display: grid;
    grid-template-columns: 1fr 200px;
    border-radius: .30rem;


}

#explr {
    align-self: center;
}

#msg {
    display: grid;
    grid-template-columns: 1fr 200px;
    border-radius: .30rem;
}

#msgs {
    align-self: center;
}

#noti {
    display: grid;
    grid-template-columns: 1fr 200px;
    height: 80px;
    border-radius: .30rem;
}

#notifi {
    align-self: center;
}

#create {
    display: grid;
    grid-template-columns: 1fr 200px;
    height: 80px;
    border-radius: .30rem;
}

#crt {
    align-self: center;
}

#more {
    align-self: center;
}

#profile {
    display: grid;
    grid-template-columns: 1fr 200px;
    height: 80px;
    border-radius: .30rem;
}

#prfl {
    align-self: center;
}

#reels {
    display: grid;
    grid-template-columns: 1fr 200px;
    height: 80px;
    border-radius: .30rem;
}

#reel {
    align-self: center;
}